.add-modal {
  width: 268px;
  height: 234px;
  background: #e4e6e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 92px;
  left: 72%;
}

.add-modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 16px 0 16px;
}

.modal-input {
  background: #ffffff;
  border-radius: 8px;
  border: none;
  margin: 0 16px;
}

textarea::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #959595;
}

textarea {
  margin: 16px 16px 0 16px;
  width: 206px;
  height: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 15px;
  border: none;
}

textarea:focus {
  outline: none;
}

.modal-add-button {
  width: 76px;
  height: 40px;
  background: linear-gradient(0deg, #081e34, #081e34), #fffbfe;
  border-radius: 100px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin: 0 16px 16px 16px;
}

.moveToTrash-modal {
  width: 240px;
  height: 48px;
  background: #e4e6e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  position: absolute;
  z-index: 2;
}

.moveToTrash-modal button {
  width: 236px;
  height: 24px;
  display: flex;
  gap: 12px;
  margin: 12px 0 12px 4px;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: #e4e6e7;
}

.delete-modal {
  width: 240px;
  height: 82px;
  background: #e4e6e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: absolute;
  z-index: 2;
}

.delete-modal button {
  width: 236px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: #e4e6e7;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

button img {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 820px) {
  .add-modal {
    position: absolute;
    top: 220px;
    left: 25%;
    width: 235px;
    height: 120px;
  }

  .add-modal-title {
    font-size: 14px;
    line-height: 14px;
    margin: 10px 10px 0 10px;
  }

  textarea {
    width: 206px;
    height: 40px;
    padding: 5px;
    margin: 10px 10px 0 10px;
    font-size: 14px;
    line-height: 14px;
  }

  .modal-input {
    margin: 0 10px;
  }
  .modal-add-button {
    height: 20px;
    font-size: 14px;
    line-height: 14px;
    margin: 0 10px 10px 10px;
  }

  textarea::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #959595;
  }
}
