.top-buttons {
  margin: 0 6% 64px 6%;
  display: flex;
  justify-content: space-between;
}

.top-left-buttons {
  display: flex;
  gap: 16px;
}

.categories {
  width: 87px;
  height: 40px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
}

.add-button {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: #081e34;
  padding: 14px;
}

.window-title {
  margin: 0 5% 26px 5%;
  display: flex;
  padding-bottom: 26px;
  border-bottom: 2px solid rgba(21, 21, 23, 0.2);
}

.title-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.task-list {
  margin: 0 4%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task {
  display: flex;
  align-items: center;
}

.modal-container {
  position: relative;
}

.task-dots-button {
  position: relative;
  padding: 7px 10.5px 7px 11px;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.task-dots-img {
  position: absolute;
  left: 45.83%;
  right: 43.75%;
  top: 29.17%;
  bottom: 29.17%;
  width: 2.5px;
  height: 10px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #712fff;
}

label {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-left: 8px;
}

input[type="checkbox"]:checked + label.task-text {
  text-decoration: line-through;
  color: #959595;
}

@media only screen and (max-width: 820px) {
  .top-buttons {
    margin: 0 6% 20px 6%;
    flex-direction: column;
    gap: 10px;
  }
}
